@font-face {
	font-family: "Raleway Light";
	src: url(../font/raleway/Raleway_Light.ttf);
}

@font-face {
	font-family: "Raleway Thin";
	src: url(../font/raleway/Raleway_Thin.ttf);
}

@font-face {
	font-family: "Raleway Regular";
	src: url(../font/raleway/Raleway_Regular.ttf);
}

@font-face {
	font-family: "Raleway Medium";
	src: url(../font/raleway/Raleway_Medium.ttf);
}

@font-face {
	font-family: "Raleway Bold";
	src: url(../font/raleway/Raleway_Bold.ttf);
}

@font-face {
	font-family: "Raleway SemiBold";
	src: url(../font/raleway/Raleway_SemiBold.ttf);
}

@font-face {
	font-family: "Raleway ExtraBold";
	src: url(../font/raleway/Raleway_ExtraBold.ttf);
}

@font-face {
	font-family: "Quicksand Bold";
	src: url(../font/qiucksand/Quicksand_Bold.otf);
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #F9F9F9;
}

.raleway-thin {
	font-family: "Raleway Thin" !important;
}

.raleway-light {
	font-family: "Raleway Light" !important;
}

.raleway-regular {
	font-family: "Raleway Regular" !important;
}

.raleway-medium {
	font-family: "Raleway Medium" !important;
}

.raleway-bold {
	font-family: "Raleway Bold" !important;
}

.raleway-semi-bold {
	font-family: "Raleway SemiBold" !important;
}

.raleway-extra-bold {
	font-family: "Raleway ExtraBold" !important;
}

.sans-serif {
	font-family: sans-serif !important;
}

.quicksand-bold {
	font-family: "Quicksand Bold" !important;
}

.relative {
	position: relative !important;
}

.landing {
	background-image: url(../img/bg/bg-landing.svg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	position: relative;
}

.overlay {
	width: 100%;
	height: 100%;
	background: linear-gradient(-215deg, rgba(221,255,85,.7), rgba(75,203,178,.7), rgba(75,203,178,.7));
	/*position: relative;*/
}

.hero-landing {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.hero-logo {
	width: 17em;
	height: 17em;
}

.hero-arrow-down {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 2em;
	transform: 0.3s ease-in-out;
	-webkit-transform: 0.3s ease-in-out;
	-moz-transform: 0.3s ease-in-out;
	-o-transform: 0.3s ease-in-out;
	animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	} 50% {
		opacity: 0.3;
	} 100% {
		opacity: 1;
	}
}

.hero-arrow-down2 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 2.7em;
	transform: 0.3s ease-in-out;
	-webkit-transform: 0.3s ease-in-out;
	-moz-transform: 0.3s ease-in-out;
	-o-transform: 0.3s ease-in-out;
	animation: blink2 2.1s ease-in-out infinite;
}

@keyframes blink2 {
	0% {
		opacity: 1;
	} 50% {
		opacity: 0.3;
	} 100% {
		opacity: 1;
	}
}

.top-nav-collapse {
	background-color: #2bbbad !important;
}

.navbar {
	background-color: #4BCBB2;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #2bbbad !important;
	}
}

.hero-nav-brand {
	width: 130px;
	height: 60px;
}

.hero-title-line {
	width: 100px;
	border: 1px solid #258875;
}

.hero-title-line-light {
	width: 100px;
	border: 1px solid #FFFFFF;
}

.green-wave {
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	margin: 0 auto !important;
}

.pondok-programmer {
	position: relative;
	background-color: #4bcbb2;
}

.white-hiyut {
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	margin: 0 auto;
}

.tentang {
	position: relative;
	min-height: 300px;
}

.btn-outline-blue-grey {
	color: #999999 !important;
	border: 1px solid #999999 !important;
	border-radius: 5px !important;
	box-shadow: 0px 0px 0px 0px !important;
}

.float-card {
	position: absolute;
	width: 50%;
	box-shadow: 0px 5px 10px 0px rgba(184, 184, 184, 0.5);
	top: -70px;
	left: 50%;
	transform: translate(-50%);
	background-color: #FFFFFF;
}

.faq {
	top: 17em;
}

.hero-more {
	background-image: url(../img/svg/bg-hero-more.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    border: none;
    width: 100px;
    height: 100px;
    text-align: center !important;
    line-height: 100px;
}

.round-progress {
    fill: none;
    stroke: #505050;
    stroke-width: 5;
    stroke-dasharray: 1000;
}

.position {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    transform: rotate(-90deg);
}

.text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    border: none;
    width: 100px;
    height: 100px;
    text-align: center !important;
    line-height: 100px;
}

.round-progress2 {
    fill: none;
    stroke: #505050;
    stroke-width: 5;
    stroke-dasharray: 1000;
}

.position2 {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    transform: rotate(-90deg);
}

.text3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    border: none;
    width: 100px;
    height: 100px;
    text-align: center !important;
    line-height: 100px;
}

.round-progress3 {
    fill: none;
    stroke: #505050;
    stroke-width: 5;
    stroke-dasharray: 1000;
}

.position3 {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    transform: rotate(-90deg);
}

.ceo {
	margin-top: -2px;
	background-image: url(../img/svg/bg-hero-more-y.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

.testimoni {
	background-image: url(../img/svg/bg-testimoni.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.hero-profile {
	position: absolute;
	left: 50%;
	top: -70px;
	transform: translate(-50%);
}

.produk {
	margin-top: -1px;
	background-color: #4bcbb2;
	position: relative;
}

.white-wave {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	display: contain;
	margin-bottom: -1px;
}

#map {
  height: 100%;
}

.footer-icon {
	background-color: #5d5d5d !important;
	border-radius: 50px;
	padding: 20px;
}