/* 
Theme Name: Pondok Programmer
Theme URI: https://pondokprogrammer.com
Author: Tim Pondok Programmer
Author URI: ridwanhasanah.com
Description: Pondok Progarmmer Themes
*/
.success-color{
	background: #4BCBB2 !important;
}
.comments{
	color: #2BBBAD;
}
.bshadow{
	border-radius: 5px;
	border: 1px solid #2BBBAD;
	padding: 5%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.img-post{
	max-width: 100%;
	height: auto;
}
#wp-calendar{
	width: 100%;
	margin-bottom: 1rem;
	text-align: center;
}
.paginate{
	margin: 15px;
	padding: 15px 15px;
	border-radius: 5px;
	background-color: #2BBBAD;
}
.paginate:hover{
	background-color: #00695C;
}

.sidebar{
	border-radius: 5px;
	list-style: none;
	margin: 5%;
	padding: 3%;
	border: 1px solid #2BBBAD;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.sidebar ul li{
	list-style: none;
	text-align: left;
}
aside{
	border-radius: 5px;
	border: 1px solid #2BBBAD;
	padding: 0.1%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

/* Menu */
.menu ul li.current-menu-item a:link,
.menu ul li.current-menu-item a:visited {
    background-color: #4285f4;
    color: white;
}

.menu{
	color: white;
	list-style: none;
}
.menu>li{
	padding: 0px 25px;
	display: inline-block;
}
@media only screen and (max-width: 768px) {
	.menu li{
		padding: 0px 25px;
		display: table-header-group;
	}
}
.sub-menu{
	    display: none;
		position: absolute;
		background: #2bbbad;
		list-style: none;
		padding: 20px 10px;
		
}
.menu-item:hover .sub-menu{
	display: block;
}
/* Menu */


li a{
	color: white;
}
li a:hover{
	color: #B7D568;
}
nav ul{
	padding-top: 3%;
}

.hide{
	display: none;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #F9F9F9;
}

.raleway-thin {
	font-family: "Raleway Thin" !important;
}

.raleway-light {
	font-family: "Raleway Light" !important;
}

.raleway-regular {
	font-family: "Raleway Regular" !important;
}

.raleway-medium {
	font-family: "Raleway Medium" !important;
}

.raleway-bold {
	font-family: "Raleway Bold" !important;
}

.raleway-semi-bold {
	font-family: "Raleway SemiBold" !important;
}

.raleway-extra-bold {
	font-family: "Raleway ExtraBold" !important;
}

.sans-serif {
	font-family: sans-serif !important;
}

.quicksand-bold {
	font-family: "Quicksand Bold" !important;
}

.relative {
	position: relative !important;
}

.overlay {
	width: 100%;
	height: 100%;
	background: linear-gradient(-215deg, rgba(18, 218, 178, 0.753),rgba(75,203,178,.7), rgba(61,90,254,.7));
	/*position: relative;*/
}

.hero-landing {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.hero-logo {
	width: 25em;
	height: 25em;
}

.hero-arrow-down {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 2em;
	transform: 0.3s ease-in-out;
	-webkit-transform: 0.3s ease-in-out;
	-moz-transform: 0.3s ease-in-out;
	-o-transform: 0.3s ease-in-out;
	animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	} 50% {
		opacity: 0.3;
	} 100% {
		opacity: 1;
	}
}

.hero-arrow-down2 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 2.7em;
	transform: 0.3s ease-in-out;
	-webkit-transform: 0.3s ease-in-out;
	-moz-transform: 0.3s ease-in-out;
	-o-transform: 0.3s ease-in-out;
	animation: blink2 2.1s ease-in-out infinite;
}

@keyframes blink2 {
	0% {
		opacity: 1;
	} 50% {
		opacity: 0.3;
	} 100% {
		opacity: 1;
	}
}

.top-nav-collapse {
	background-color: #2bbbad !important;
}

.navbar {
	background-color: transparent;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #2bbbad !important;
	}
}

.hero-nav-brand {
	/* width: 130px; */
	height: 50px;
}

.hero-title-line {
	width: 100px;
	border: 1px solid #258875;
}

.hero-title-line-light {
	width: 100px;
	border: 1px solid #FFFFFF;
}

.green-wave {
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	margin: 0 auto !important;
}

.pondok-programmer {
	position: relative;
	background-color: #4bcbb2;
}

.white-hiyut {
	/* position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	margin: 0 auto; */
	position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: contain;
    margin-bottom: -1px;
}

.tentang {
	position: relative;
	min-height: 300px;
}

.btn-outline-blue-grey {
	color: #999999 !important;
	border: 1px solid #999999 !important;
	border-radius: 5px !important;
	box-shadow: 0px 0px 0px 0px !important;
}

.float-card {
	position: absolute;
	width: 50%;
	box-shadow: 0px 5px 10px 0px rgba(184, 184, 184, 0.5);
	top: -70px;
	left: 50%;
	transform: translate(-50%);
	background-color: #FFFFFF;
}

.faq {
	top: 17em;
}



.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    border: none;
    width: 100px;
    height: 100px;
    text-align: center !important;
    line-height: 100px;
}

.round-progress {
    fill: none;
    stroke: #505050;
    stroke-width: 5;
    stroke-dasharray: 1000;
}

.position {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    transform: rotate(-90deg);
}

.text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    border: none;
    width: 100px;
    height: 100px;
    text-align: center !important;
    line-height: 100px;
}

.round-progress2 {
    fill: none;
    stroke: #505050;
    stroke-width: 5;
    stroke-dasharray: 1000;
}

.position2 {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    transform: rotate(-90deg);
}

.text3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    border: none;
    width: 100px;
    height: 100px;
    text-align: center !important;
    line-height: 100px;
}

.round-progress3 {
    fill: none;
    stroke: #505050;
    stroke-width: 5;
    stroke-dasharray: 1000;
}

.position3 {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    transform: rotate(-90deg);
}
.hero-profile {
	position: absolute;
	left: 50%;
	top: -70px;
	transform: translate(-50%);
}

.produk {
	margin-top: -1px;
	background-color: #4bcbb2;
	position: relative;
}

.white-wave {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	display: contain;
	margin-bottom: -1px;
}

#map {
  height: 100%;
}

.footer-icon {
	background-color: #5d5d5d !important;
	border-radius: 50px;
	padding: 20px;
}